@import "tailwindcss";

/* .btn-primario {
  background-color: gray;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
}


.btn-secundario {
  background-color: beige;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
}

.btn-desativado {
  background-color: rgba(255, 0, 0, 0.336);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
} */

.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(255, 228, 196, 0.363);
  height: 200px;
  width: 500px;
  border: 2px solid black;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  
}
body{
  display: flex;
  background-color: rgb(150, 143, 143);
  justify-content: center;
  align-items: center;
  
}

/* button{
  align-self: flex-end;
  background-color: rgba(0, 81, 255, 0.507);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  margin: 35px;
  
} */
.titulo{
  font-size: 30px;
}
.imagem{
  height: 50px;
  width: 50px;
}